#Nav-left{
    width: 260px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    /*background-color: #ddd;*/
}
.color-guinda-oscuro{
    background: #64001D;
}
.color-guinda-claro{
    background:#990537 ;
}

.color-guinda{
    background:#990537 ;
}
.color-guinda:hover{
    background-color: #aa0b40 !important;
    border-color: #aa0b40 !important;
}
.color-guinda:focus {
    box-shadow: none !important;
}


.enlace-menu{ 
    color: white ;
    padding: 0 8px;  
}

.enlace-menu:hover{
    background-color:#64001D ;
    color: white;
    text-decoration: none;    
}
#imagen{
    width: 50%; 
    margin: 0 auto;
    display: block;
}

.active-Nav-left{
    background-color: #ffffff;
    color:black;  
}

#Main-content{
    width: calc(100% - 260px);
    float: right;
    background-color: #eee;
}

#Main{
    padding: 0 25px;
    background-color: #eee;
}

#Nav-top{
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #dadada;

    /*background-color: #eee;*/
}
.modal{
    background-color: rgba(0, 0, 0, 0.57);
    
}

.color-secundario{
    background-color: #30526f !important; 
    border-color: #30526f !important;
}
.color-secundario:active{
    background-color: #30526f !important; 
    border-color:#30526f !important;
}
.color-secundario:hover{
    background-color: #4d5e6d  !important; 
    border-color: #4d5e6d !important;
}
.color-secundario:focus {
    box-shadow: none !important;
}

.color-cancelar{
    background-color: #6d6d72 !important;
    border-color: #6d6d72 !important;
}

.color-cancelar:hover{
    background-color: #6d6d72cb !important;
    border-color: #6d6d72cb !important;
}
.color-cancelar:focus {
    box-shadow: none !important;
}

.paginacion{
    
    color: #ffffff !important;
    background-color: #990537 !important;
    border-color: #929496 !important;
}


.tabla-color{
    background-color: white;
}
/* plomo #6d6d72 */
#img-menu{
    width: 45px;
}

@media (max-width: 768px) {
 
    #Nav-left{        
        
        left: -100%;
    }        
    .width-calc{
        width: calc(100% - 260px) !important;
    }
    #Main-content{
        width: 100%;
    }
}
@media (min-width: 768px) {
 
    .icon-visibilidad{
        visibility: hidden;
    }

    .modal-dialog{
        max-width: 80%;
    }
      
}

.active-menu-toggle{
    left: 0 !important;

}