.wrapper {  
    background-image: url('/Oficina_Unsa.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color:#800040;  
    background-position: center center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
 }
 .wrapper::before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
    right: 0;
	background-color: rgba(128, 0, 0, 0.4);
}

p {
  text-align: justify;
  padding-top: 5pt;
}  

img{
    display: block;
    margin: auto;
}
 